<!-- Header section starts -->
<header>
    <a href="/" class="logo">
        <img class="header-logo" src="/img/logo.png" alt="logo">
    </a>

    <i class="fa-solid fa-bars" id="menu-icon"></i>

    <!-- nav bar starts-->
    <ul class="navbar">
        <li><a href="/">Home</a></li>
        <li><a href="/order">Order Now</a></li>
        <li><a href="/find-order">Find Order</a></li>
        <li><a href="#">Contact Us</a></li>
    </ul>
</header>
<!-- Header section ends -->